


body {
    background-color: rgb(150, 158, 247);
    text-align: center;
}
.home{
    display:flex;
}
.contenedor-tabla{
    height: 500px;
    width: 60%;
    overflow-y: scroll;
    padding:0px;
    background-color: aliceblue;
   
  
   
}

thead tr th {
    position: sticky;
    top: 0;
    
}

.oculto {
    display: none;
}